apprise==1.10.0
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
colorlog==6.10.1
greenlet==3.5.1
idna==3.16
inflect==7.5.0
Markdown==3.10.2
more-itertools==11.1.0
oauthlib==3.3.1
psycopg2-binary==2.9.12
pyfiglet==1.0.4
PyYAML==6.0.3
requests==2.34.2
requests-oauthlib==2.0.0
sqlacodegen==4.0.3
SQLAlchemy==2.0.49
typeguard==4.5.2
typing_extensions==4.15.0
urllib3==2.7.0
python-dotenv==1.2.2
py-spy
